
<div id="pokemon-container">
  <a href="/update?pick=<%- pos %>">
  <% if (pokemon.view) { %>
  <img src="<%- pokemon.image %>" width="200">
  <% } else { %>
    <img src="/pokeball.jpg" width="200">
    
  <% } %>
</a>
</div>
<!-- <img src="/pokeball.jpg" width="200"> -->
