<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Pokedex</title>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
    crossorigin="anonymous"
  />
  <style>
  body {background-color: <%- theme %>}</style>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Pokedex</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link btn btn-primary" href="/dif?size=8" id="easyBtn">Easy</button>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-primary" id="mediumBtn" href="/dif?size=12">Medium</button>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-primary" id="hardBtn" href="/dif?size=16">Hard</button>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-success" id="startBtn" href="/">Start</button>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-danger" id="resetBtn" href="/">Reset</button>
            </li>
            <li class="nav-item">
              <a class="btn btn-dark" id="themeBtn" href="/themeChange">Change Theme</a>

            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  <!-- Rest of your HTML content -->
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-9M83c7K5iAYtD3tD7F8FqP82dJQMM4KjkYogw5fIxd8N6u6UqKT98vkVBaDwoPLi" crossorigin="anonymous"></script>
</body>
</html>



    
